@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* min-width: 480px; */
  max-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background:  center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 14px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 3px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.volume-icon {
  background-image: url('../assets/svg/volume.png');
  
}
.timeLine {
  width: 100%;
  height: 6px;
  background-color: #fff;
  margin-bottom: 10px;
}

.timeLineOrange {
  height: 100%;
  background-color: #C5B358;
  width: 0px;
}

.volumeControls {
display: flex;
align-items: center;
gap: 5px;
}

.volume {
  width: 117px;
  height: 6px;
  background-color: #fff;   
  display: none;
  border: #000 1px solid;
}

.visible{
  display: block;
}

.volumeOrange {
  height: 100%;
  background-color: #C5B358;  
}

.volumeCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #9e2d82;
  transform: translateY(-5px) translateX(-8px);
  border: #000 1px solid;
}

.progress {
  
  font-size: 25px;
  line-height: 25px;
  display: flex;
  justify-content: flex-end;
}

.playTime{
  font-size: 12px;
  transform: translateY(-4px);
}
.trackDuration{
  font-size: 12px;
  transform: translateY(4px);
  height: 12px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.settings{
  position: fixed;
  top: 70%;
  right: 0; 
  background-color: rgb(255, 255, 255);
  color: #000;
  padding: 3px;
  border-radius: 3%;
  transform:  rotate(-90deg) translateY(156px);
  opacity: .5;
  cursor: pointer; 
  transition: all linear .4s; 
}

.settingsButton {
  position: absolute;
  left: 15px;
  padding: 0 5px;
  transform: translateY(-20px);
  background-color: rgb(255, 255, 255);  
}

.settingsList{
  display: flex;
  flex-direction: row;
  gap: 5px;

}

.settingsList > div:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1) rotate(90deg);
}

.settings:hover {
  
  transform: translateX(126px) rotate(-90deg);
}

.belarusian {
  transform: rotate(90deg);  
}

.english {  
  transform: rotate(90deg);  
}

.github{
  height: 24px;
  width: 24px;
  background-image: url('../assets/svg/github.svg');
  transform: rotate(90deg);
}

.flickr{
  height: 24px;
  width: 24px;
  background-image: url('../assets/svg/flickr.svg');
  transform: rotate(90deg);
}

.unsplash{
  height: 24px;
  width: 24px;
  background-image: url('../assets/svg/unsplash.svg');
  transform: rotate(90deg);
}

.deliner{
  width: 1px;
  height: 24px;
  background-color: #000;
  margin: auto 3px;
}

.playerSettings{
  height: 24px;
  width: 24px;
  background-image: url('../assets/svg/playerIcon.svg');
  transform: rotate(90deg);
  
}

.redBg{
  background-color: #ff4444;
}

.hideItem {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0s 1s;
}

.quoteSettings{
  height: 24px;
  width: 24px;
  background-image: url('../assets/svg/quote.svg');
  transform: rotate(90deg);
}

.weatherSettings{
  height: 24px;
  width: 24px;
  background-image: url('../assets/svg/weather.svg');
  transform: rotate(90deg);
}

.toDoSettings{
  height: 24px;
  width: 24px;
  background-image: url('../assets/svg/todolist.svg');
  transform: rotate(90deg);
}

.activeLang{
  color: #ee2525;
}

.todoList {
  display: flex;
  flex-direction: column; 
  gap: 5px;
  position: fixed;
  bottom: 2px;
  left: 2px;
  padding: 10px;
  width: 30%;
  height: 40%;
  background-color: rgb(255, 224, 0) ;  
  opacity: .5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow: auto;
  transition: all linear .5s;
  transform: translateX(calc(-100% - 2px));
}

.todoListActive{
  transform: translateX(0);
}

.todoItem {
  display: flex;
  flex-direction: row;
  gap: 7px  ;
}

.todoCheckBox {
  display: block;
}

.todoInput {
  display: block;
  border: none;
  border-bottom: rgb(0, 0, 0) 1px solid;
  width: 100%;
  padding: 3px;
  outline: none;
  background-color:  rgb(255, 224, 0);
}

.invisible {

    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
}

.addNotice {
  position: absolute;
  right: 5px;
  bottom: 5px;
  height: 30px;
  width: 30px;
 
  background-image: url('../assets/svg/plus.svg');
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
  
  transition: opacity 1s, visibility 0s;
}

.author {
  min-height: 20px;
}

.license {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  opacity: .2;
  padding: 5px;
  border-radius: 14px;
}

.rsschool {
  width: 100px;
}

.githubLogo {
  width: 40px;
}

.year {
  margin: 0 10px;
  color: #000;
}



@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
  .header { 
    gap: 10px; 
    padding: 20px 5px;
  }
  .slide-prev {
    left: 5px;
  }
  
  .slide-next {
    right: 0
  }

  .license{
    display: none;
  }
}